<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>OneHand</title>
    <style>
        .login-form-container {
            width: 300px;
            margin: auto;
        }

        .registration-form-container {
            width: 400px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="auth-box text-center">
        {% block content %}
          
        {% endblock  %}
    </div>
</body>
</html>